<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name=""viewport content="width=device-width,initial-scale=1. shrink-to-fit=no">

<!--  Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
        th {
            background-color: beige !important;
            text-align: center !important;
        }
        td{
            text-align: center;
        }
       /* th2{
            background-color: burlywood; !important;
        }*/
    </style>

    <title> Employee Directory</title>
    <link rel="icon" type="image/png" href="/icons/plan.png">
</head>
<body>
<div class="container">
    <h3>
        Employee Directory
    </h3>
    <hr>

<!--    Add button for  Adding employee-->
    <a th:href="@{/showFormForAdd}"
        class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table-light">
        <tr>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Email Id</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempEmployee : ${employee}">

            <td th:text="${tempEmployee.firstName}"/>
            <td th:text="${tempEmployee.lastName}"/>
            <td th:text="${tempEmployee.email}"/>
        <tr/>
        </tbody>
    </table>
</div>

</body>
</html>